@page
@model Milestone3.Pages.Admin.AdminDashboardModel
@{
    ViewData["Title"] = "HR Admin Dashboard";
    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Admin";
}

<style>
    /* Sidebar blue like GUC CMS */
    .sidebar {
        background-color: #003366; /* GUC-like dark blue */
        color: #fff;
    }

    .sidebar .nav-link {
        color: #fff !important;
    }

    .sidebar .nav-link:hover {
        color: #cce4ff !important;
    }

    /* Accordion headers */
    .accordion-button {
        background-color: #f8f9fa;
        color: #003366;
        font-weight: 500;
    }

    .accordion-button:focus {
        box-shadow: none;
     }

    /* Main content */
    .content {
        background-color: #f5f5f5;
    }

    /* Buttons */
    .btn-dark {
        background-color: #003366;
        border-color: #003366;
        color: #fff;
    }

        .btn-dark:hover {
            background-color: #002244;
            border-color: #002244;
            color: #fff;
        }

    /* Top header */
    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

        .top-header .title {
            display: flex;
            align-items: center;
            gap: 15px;
        }

            .top-header .title img {
                height: 50px; /* adjust icon size */
            }

        .top-header .user-greeting {
            font-weight: 500;
            color: #003366;
        }
</style>

<div class="d-flex" style="min-height: 100vh;">

    <!-- Sidebar -->
    <nav class="sidebar d-flex flex-column p-3" style="width:230px;">
        <div class="text-center mb-4">
            <h4 class="fw-light">HR SYSTEM</h4>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a asp-page="/Admin/AttendanceYesterday" class="nav-link">Attendance Yesterday</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-page="/Admin/EmployeePerformance" class="nav-link"> Winter Performance</a>
            </li>

            

        </ul>
    </nav>

    <!-- Main Section -->
    <div class="flex-grow-1 content p-4">

        <!-- Top Header -->
        <div class="top-header">
            <div class="title">
                @* <img src="~/images/guc-logo.png" alt="GUC Logo" /> *@
                <h1 class="h3 mb-0">Admin Dashboard</h1>
            </div>
            <div class="user-greeting">
                Hello, @userName
            </div>
        </div>

        <div class="accordion" id="adminActions">

            <!-- Remove Attendance on Holidays -->
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingHoliday">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHoliday" aria-expanded="false" aria-controls="collapseHoliday">
                        Remove Attendance on Holidays
                    </button>
                </h2>
                <div id="collapseHoliday" class="accordion-collapse collapse" aria-labelledby="headingHoliday" data-bs-parent="#adminActions">
                    <div class="accordion-body">
                        <form method="post">
                            <button type="submit" asp-page-handler="RemoveHoliday" class="btn btn-dark w-100">Confirm Remove Holidays</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Remove Dayoff -->
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingDayoff">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDayoff" aria-expanded="false" aria-controls="collapseDayoff">
                        Remove Dayoff for Employee
                    </button>
                </h2>
                <div id="collapseDayoff" class="accordion-collapse collapse" aria-labelledby="headingDayoff" data-bs-parent="#adminActions">
                    <div class="accordion-body">
                        <form method="post">
                            <div class="input-group mb-2">
                                <input type="number" name="employeeId" class="form-control" placeholder="Employee ID" required />
                                <button type="submit" asp-page-handler="RemoveDayOff" class="btn btn-dark">Remove Dayoff</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Remove approved leaves  -->
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingDayoff">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseApprovedLeaves" aria-expanded="false" aria-controls="collapseDayoff">
                        Remove approved leaves for Employee
                    </button>
                </h2>
                <div id="collapseApprovedLeaves" class="accordion-collapse collapse" aria-labelledby="headingApprovedLeaves" data-bs-parent="#adminActions">
                    <div class="accordion-body">
                        <form method="post">
                            <div class="input-group mb-2">
                                <input type="number" name="employeeId" class="form-control" placeholder="Employee ID" required />
                                <button type="submit" asp-page-handler="RemoveApprovedLeaves" class="btn btn-dark">Remove Approved Leaves</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Update Employment Status -->
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingStatus">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatus" aria-expanded="false" aria-controls="collapseStatus">
                        Update Employment Status
                    </button>
                </h2>
                <div id="collapseStatus" class="accordion-collapse collapse" aria-labelledby="headingStatus" data-bs-parent="#adminActions">
                    <div class="accordion-body">
                        <form method="post">
                            <div class="input-group mb-2">
                                <input type="number" name="employeeId" class="form-control" placeholder="Employee ID" required />
                                <button type="submit" asp-page-handler="UpdateEmploymentStatus" class="btn btn-dark">Update Status</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Replace Employee -->
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingReplace">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReplace" aria-expanded="false" aria-controls="collapseReplace">
                        Replace Employee
                    </button>
                </h2>
                <div id="collapseReplace" class="accordion-collapse collapse" aria-labelledby="headingReplace" data-bs-parent="#adminActions">
                    <div class="accordion-body">
                        <form method="post">
                            <div class="row g-2">
                                <div class="col-md-3"><input type="number" name="emp1Id" class="form-control" placeholder="Employee being replaced ID" required /></div>
                                <div class="col-md-3"><input type="number" name="emp2Id" class="form-control" placeholder="Replacement employee ID" required /></div>
                                <div class="col-md-3"><input type="date" name="fromDate" class="form-control" required /></div>
                                <div class="col-md-3"><input type="date" name="toDate" class="form-control" required /></div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" asp-page-handler="ReplaceEmployee" class="btn btn-dark w-100">Replace Employee</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>





        <!-- SUCCESS TOAST (green, auto-hide) -->
        @if (TempData["Success"] != null)
        {
            <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
                <div id="successToast"
                     class="toast toast-success border-0"
                     role="alert">

                    <div class="d-flex">
                        <div class="toast-body">
                            @TempData["Success"]
                        </div>

                        <button type="button"
                                class="btn-close me-2 m-auto"
                                data-bs-dismiss="toast"></button>
                    </div>
                </div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    new bootstrap.Toast(document.getElementById("successToast"), {
                        delay: 1500
                    }).show();
                });
            </script>
        }


        <!-- ERROR TOAST (Red, DOES NOT auto-hide) -->
        @if (TempData["Error"] != null)
        {
            <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
                <div id="errorToast"
                     class="toast toast-error border-0 show"
                     role="alert">

                    <div class="d-flex">
                        <div class="toast-body">
                            @TempData["Error"]
                        </div>

                        <button type="button"
                                class="btn-close me-2 m-auto"
                                data-bs-dismiss="toast"></button>
                    </div>
                </div>
            </div>
        }




    </div>
</div>




