@* @page
@model Milestone3.Pages.Admin.RemoveDayOffModel
@{
} *@

@page
@model Milestone3.Pages.Admin.RemoveDayOffModel



<h2 class="text-center mt-5">Remove Unattended Day Off</h2>

<form method="post"
      class="p-4 border rounded shadow-sm bg-light mt-5"
      style="max-width:400px; margin:auto;">

    <div class="mb-3">
        <label for="employeeId" class="form-label fw-bold">Employee ID</label>
        <input type="number" id="employeeId" name="employeeId"
               class="form-control" placeholder="Enter Employee ID" required />
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-warning">
            Remove Day Off
        </button>
    </div>
</form>




<!-- SUCCESS TOAST (green, auto-hide) -->
@if (TempData["Success"] != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
        <div id="successToast"
             class="toast toast-success border-0"
             role="alert">

            <div class="d-flex">
                <div class="toast-body">
                    @TempData["Success"]
                </div>

                <button type="button"
                        class="btn-close me-2 m-auto"
                        data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new bootstrap.Toast(document.getElementById("successToast"), {
                delay: 1500
            }).show();
        });
    </script>
}


<!-- ERROR TOAST (Red, DOES NOT auto-hide) -->
@if (TempData["Error"] != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
        <div id="errorToast"
             class="toast toast-error border-0 show"
             role="alert">

            <div class="d-flex">
                <div class="toast-body">
                    @TempData["Error"]
                </div>

                <button type="button"
                        class="btn-close me-2 m-auto"
                        data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>
}
