html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


<<<<<<< HEAD
/* Cms Colors */

:root {
    /* Your University Palette */
    --uni-bg: #F7F9FA; /* Bright Snow - Main Background */
    --uni-blue: #243B55; /* Deep Space Blue - Sidebar/Headings */
    --uni-gold: #F7B924; /* Sunflower Gold - Accents/Warnings */
    --uni-red: #D92550; /* Amaranth - Errors/Delete Buttons */
    --uni-green: #3AC47D; /* Emerald - Success/Save Buttons */
}

/* Global Background */
body {
    background-color: var(--uni-bg);
    color: var(--uni-blue); /* Default text color is now your Deep Blue */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- Reusable Utility Classes --- */

/* Buttons */
.btn-uni-blue {
    background-color: var(--uni-blue);
    color: white;
    border: none;
}

    .btn-uni-blue:hover {
        background-color: #1b2d42; /* Slightly darker for hover effect */
        color: white;
    }

.btn-uni-green {
    background-color: var(--uni-green);
    color: white;
    border: none;
}

.btn-uni-red {
    background-color: var(--uni-red);
    color: white;
    border: none;
}

/* Text Colors */
.text-uni-blue {
    color: var(--uni-blue);
}

.text-uni-gold {
    color: var(--uni-gold);
}

.text-uni-red {
    color: var(--uni-red);
}

.text-uni-green {
    color: var(--uni-green);
}


.toast-success {
    background-color: white !important;
    color: #1e7e34 !important; /* green text */
    border: 2px solid #28a745 !important; /* solid green border */
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.3) !important; /* soft green glow */
}

/* ERROR (red) */
.toast-error {
    background-color: white !important;
    color: #b02a37 !important; /* red text */
    border: 2px solid #dc3545 !important; /* solid red border */
    box-shadow: 0 0 15px rgba(220, 53, 69, 0.3) !important; /* soft red glow */
}

/* Make close button darker so it’s visible on white */
.toast .btn-close {
    filter: invert(40%) !important;
}
