html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* SUCCESS (green) */
.toast-success {
    background-color: white !important;
    color: #1e7e34 !important; /* green text */
    border: 2px solid #28a745 !important; /* solid green border */
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.3) !important; /* soft green glow */
}

/* ERROR (red) */
.toast-error {
    background-color: white !important;
    color: #b02a37 !important; /* red text */
    border: 2px solid #dc3545 !important; /* solid red border */
    box-shadow: 0 0 15px rgba(220, 53, 69, 0.3) !important; /* soft red glow */
}

/* Make close button darker so it’s visible on white */
.toast .btn-close {
    filter: invert(40%) !important;
}
